@font-face {
  font-family: "Ostrich Sans";
  src: url("../fonts/ostrich-sans-bold.eot");
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

body {
  font-family: "Roboto Mono", Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #1a1a2e;
  color: rgb(235, 235, 235);
}

.nav {
  text-align: center;
  background-color: #16213e;
  color: #e94560;
  margin: 0;
  padding: 10px;
  font-family: "Ostrich Sans", "Roboto Mono";
  font-size: 3.5em;
}

.topic {
  background-color: #0f3460;
  color: white;
  margin: 0;
  padding: 10px;
  text-align: center;
  text-transform: capitalize;
}
.head {
  display: flex;
  place-content: center;
  /* The place-content CSS shorthand property allows you to
   align content along both the block and inline directions
    at once (i.e. the align-content and justify-content properties)
    in a relevant layout system such as Grid or Flexbox. */
}
h3 {
  margin: 10px 20px;
  border-bottom: 1px solid #f3f3f3;
  width: max-content;
}
.card {
  height: max-content;
  margin: 0 auto;
  background-color: #272822;
  border-radius: 5px;
  padding: 0 20px;

  font-family: "Roboto Mono";
}
.card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}
hr {
  border: 0;
  width: 100%;
  background-color: #00ff6e;
  height: 1px;
}

.heading {
  text-align: center;
  background-color: #333;
  margin: 0 auto;
  padding: 0 5px 2px;
}
p > a {
  text-decoration: none;
  color: rgb(255, 87, 87);
  font-size: small;
}

pre {
  color: rgb(24, 212, 168);
  font-family: "Consolas", "Ubuntu";
  font-size: small;
  text-align: left;
  white-space: pre-wrap;
}

@media screen and (min-width: 600px) {
  .card {
    width: fit-content;
  }
}
@media screen and (max-width: 600px) {
  .card {
    width: 80%;
  }
  .heading {
    font-size: small;
    max-width: 80%;
  }
}
